.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
  }

  &__logo {
    width: 150px;
    height: 41px;
    background: no-repeat url('img/logo.svg');
    background-size: contain;
    order: 0;

    @media #{$extra-small} {
      max-width: 100px;
      max-height: 30px;
    }

    @media #{$small} {
      width: 210px;
      height: 55px;
    }

  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    width: 100px;
    order: 2;

    @media #{$extra-small} {
      max-width: 80px;
      line-height: 35px;
    }
  }

  &__scores {
    font-size: 1.1428rem;
    font-weight: 500;
    order: 1;
  }

}

.nav-btn {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: $color;
  cursor: pointer;
  transition: $color-out, $transform-out;

  &:hover, &:disabled {
    color: $link-hover;
    transition: $color-in;
  }

  &:hover {
    transform: scale(1.1);
    transition: $transform-in;
  }
  
}