.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #008966;
  overflow: hidden;

  &__item {
    text-align: center;
    padding: 0.5rem 0.75rem;
    flex: 1;
    white-space: nowrap;
    transition: $bg-color-out;

    &_active {
      background-color: $btn-color;
      transition: $bg-color-in;
    }
  }
}