.question {
  min-height: 155px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $quiz-background;
  border-radius: 0.25rem;

  @media #{$small} {
    flex-direction: row;
  }

  &__info {
    flex: 1;
    order: 0;
    margin: 0;

    @media #{$small} {
      margin-right: 1rem;
      margin-left: 2.5rem;
    }

    @media #{$medium} {
      margin-right: 1.25rem;
    }

    &__heading {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      margin: 0;
      margin-bottom: 0.5rem;
      margin-top: 25px;
      padding: .25rem;
      order: -1;

      @media #{$small} {
        margin-top: 0;
        text-align: left;
      }
    }
  }

}