@import '../bird-image';
@import './pagination';
@import './question';
@import './answers';
@import './results';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.homepage,
.quiz,
.results {
  width: 100%;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.homepage {
  height: 100%;
  display: flex;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: .5rem;

  @media #{$extra-small} {
    width: 95%;
  }

  @media #{$small} {
    width: 90%;
  }
  
}