html {
  font-size: 16px;
  line-height: 1.15;
  font-family: 'Lato', 'Roboto', sans-serif;

  @media #{$extra-small} {
    font-size: 14px;
  }
}

body {
  background-color: $background;
  color: $color;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  padding-bottom: .5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media #{$small} {
    max-width: $sm;
  }

  @media #{$medium} {
    max-width: $md;
  }

  @media #{$large} {
    max-width: $lg;
  }

  @media #{$x-large} {
    max-width: $xl;
  }

}

.disabled {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.transition {

  &_in {
    transition: visibility .3s ease-in, opacity .3s ease-in;
  }

  &_out {
    transition: visibility .3s ease-out, opacity .3s ease-out;
  }

}